<div class="jumbotron">
  <h1>Welcome to Checklist!</h1>
  <p>Never forget anything anymore!</p>
  <%= link_to "Sign Up", new_model_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", new_model_session_path, class: "btn btn-primary" %>
</div>
